.daily_card {
  position: relative;
  display: block;
  width: 100%;
  height: 150px;
  color: #000;
  background: #fff;
  overflow: hidden;
}
.card_img {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}
.card_info {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
}
.card_genre {
  display: none;
  font-size: 13px;
  font-weight: 500;
}
.card_title {
  display: block;
  font-size: 17px;
  font-weight: 500;
}
.card_author {
  display: none;
  font-size: 13px;
}
.card_like {
  display: none;
}
.card_active {
  display: block;
}
