.table {
  display:flex;
  width: 100%;
}
.item {
  flex-basis: 100%;
}
.btn_selection {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  font-size: 20px;
}
.title {
  text-align: center;
  vertical-align: middle;
}
.btn_selection_active {
  color: #fff;
  background-color: #00dc64;
}
