.container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.login_wrap {
  position:relative;
  width: 358px;
  height: 580px;
}
.login_ani {
  position: relative;
  width: 358px;
  height: 230px;
  animation: loginAni 8.25s linear infinite normal;
}
.login_form {
  width: 358px;
  height: 350px;
  background-color: #fff;
  border-radius: 0 0 15px 15px;
  padding: 20px;
  text-align: center;
}
.email_area {
  position: relative;
  margin-top: 20px;
}
.password_area {
  position: relative;
  margin-top: 20px;
}
.placeholder {
  position: absolute;
  top: 0;
  color: #ccc;
}
.input_box {
  position: relative;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  background-color: transparent;
  width: 100%;
}
.login_btn {
  margin-top: 10px;
}
.btn {
  display: inline-block;
  width: 130px;
  height: 42px;
  line-height: 42px;
  border-radius: 26px;
  margin: 0 10px;
}
.btn_login {
  background-color: #00dc64;
  color: #fff;
}
.btn_signup {
  background-color: #6a6a6a;
  color: #fff;
}
.forgotpassword {
  display: inline-block;
  margin-top: 10px;
  color: #6a6a6a;
  font-size: 18px;
}
.bg_line {
  width: 100%;
  height: 1px;
  margin: 20px 0;
  background-color: #ccc;
  position: relative;
}
.inner {
  position: absolute;
  width: 100%;
  top: -20px;
}
.text {
  display: inline-block;
  line-height: 40px;
  height: 40px;
  padding: 0 10px;
  background-color: #fff;
  color: #ccc;
}
.btn_brand {
  display: inline-block;
  padding: 0 5px;
}
.close_button {
  position: absolute;
  top: 80px;
  right: -25px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
}
.close_inner {
  display: inline-block;
  width: 50px;
  height: 50px;
}
.close_text {
  line-height: 50px;
  font-size: 35px;
  font-family: quicksand;
  font-weight: 400;
  color: #000;
}
@keyframes loginAni {
  0%, 12.1209% {
    background-position: 0 0;
  }
  12.121%, 13.3329% {
    background-position: 0 -230px;
  }
  13.333%, 14.5449% {
    background-position: 0 0;
  }
  14.545%, 15.7569% {
    background-position: 0 -230px;
  }
  15.757%, 27.8779% {
    background-position: 0 0;
  }
  27.878%, 28.4839% {
    background-position: 0 -460px;
  }
  28.484%, 29.0899% {
    background-position: 0 -690px;
  }
  29.09%, 29.6959% {
    background-position: 0 -920px;
  }
  29.696%, 30.3019% {
    background-position: 0 -690px;
  }
  30.302%, 30.9079% {
    background-position: 0 -460px;
  }
  30.908%, 43.0289% {
    background-position: 0 0;
  }
  43.029%, 55.1499% {
    background-position: 0 -1150px;
  }
  55.15%, 63.6349% {
    background-position: 0 -1380px;
  }
  63.635%, 100% {
    background-position: 0 -1610px;
  }
}
