.root {
  width: 100%;
  border-top: 1px solid #eaeaea;
  background: #ffffff;
  position: relative;
}

.toolbar {
  width: 100%;
  height: 50px;
  background-image: linear-gradient(#42275a, #734b6d);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.view_box {
  max-width: 1200px;
  margin: 0 auto;
  height: 3000px;
}
.bottom_episode {
  max-width: 1200px;
  margin: 2rem auto;
}

.bottom_display {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 800px;
  display: flex;
  align-items: flex-start;
  padding-bottom: 2rem;
}
.comment_area {
  height: 100%;
  width: 100%;
  padding-right: 2rem;
}
.comment_box_head {
}
.comment_box_title {
}
.aside_area {
  height: 100%;
  flex: 1 0 300px;
}

.challenge_round_up {
  height: 100px;
}
