
.container {
  width:150px;
  padding: 0 5px 5px;
}
.active {
  background-color: #00dc64;
  width: 200px;
}
.btn_select {
  text-transform: uppercase;
  display: inline-block;
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: 20px;
  text-align: center;
  color: #000;
}
.btn_select_active {
  color: #fff;
  background-color: #00dc64;
}
.card_border {
  border-top: 1px solid #ccc;
}
.list_comic {
  border: 1px solid #ccc;
  border-top: none;
}
