.link_root{
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.link_img{
  flex-shrink: 0;
  overflow: hidden;
}
.link_img img{
  height: 100%;
  z-index: 10;
  color: white;
}
.link_info{
  padding-left: 10px;
  color: black;
}
