.link_root{
  display: flex;
  justify-content: flex-start;
}
.link_img{
  flex-shrink: 0;
  overflow: hidden;
}
.link_img img{
  height: 100%;
  z-index: 10;
  color: white;
}
.link_info{
  padding-left: 10px;
  padding-right: 10px;
  color: black;
  overflow: hidden;
}
.comic_genre {
  padding-top: 12px;
  font-size: 13px;
  line-height: 21px;
  color: #bbb;
}
.comic_title {
  font-size: 18px;
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.comic_author {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 13px;
}
