.main_banner_wrap {
  height: 492px;
}
.main_banner_inner {
  position: relative;
  height: 100%;
  width: 1110px;
  height: 492px;
  margin: 0 auto;
  position: relative;
}
.main_banner_big {
  position: relative;
  width: 900px;
  height: 492px;
}
.banner_big_inner {
  position: absolute;
  left: -40px;
  opacity: 0;
  display: block;
}

.main_banner_small1 {
  position: absolute;
  top: 38px;
  right: 0;
}
.main_banner_small2 {
  position: absolute;
  top: 230px;
  right: 0;
}
.main_banner_paging {
  position: absolute;
  bottom: 0;
  line-height: 18px;
}
/* animation*/
.show {
  animation-name: show;
  animation-duration: 2.5s;
}
@-webkit-keyframes show {
  0% {opacity: 0} 
  100% {opacity: 1}
}
@keyframes show {
  0% {opacity: 0} 
  100% {opacity: 1}
}
.hide {
  animation-name: hide;
  animation-duration: 2.5s;
}
@-webkit-keyframes hide {
  0% {opacity: 1} 
  100% {opacity: 0}
}
@keyframes hide {
  0% {opacity: 1} 
  100% {opacity: 0}
}
