.main_daily_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.daily_tab_wrap {
  width: 100%;
  height: 60px;
  background: #fff;
}
.daily_tab_inner {
  width: 1140px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Daily tab */
.daily_tab {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn_daily {
  text-transform: uppercase;
  display: inline-block;
  width: 120px;
  height: 60px;
  line-height: 60px;
  font-size: 20px;
  text-align: center;
  color: #000;
}
.btn_more:hover {
  color: #00dc64;
}
.btn_daily_active {
  color: #fff;
  background-color: #00dc64;
}
.bar, .btn_more {
  display: inline-block;
}

.bar {
  text-align: right;
  width: 120px;
}
.btn_more {
  width: 120px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: #000;
}

.daily_content {
  padding: 50px 0 ;
}