.main_ranking_wrap {
	background-color: #fff;
}
.main_ranking_inner {
  width: 1140px;
	height: 650px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
	/* align-items: flex-start; */
	justify-content:space-between ;
  padding: 40px  30px 60px 0px;
}
