.main_genre_wrap {
  background-color: #f4f4f4;
  border-top: 1px solid #ccc;
}
.header_title {
  text-align: center;
  padding: 40px 0 ;
  font-size: 1.375rem;
}

.genre_content {
  width: 1140px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
